@font-face {
  font-family: "iconfont"; /* Project id 3758324 */
  src: url('iconfont.woff2?t=1667907820721') format('woff2'),
       url('iconfont.woff?t=1667907820721') format('woff'),
       url('iconfont.ttf?t=1667907820721') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialajiantou:before {
  content: "\e642";
  font-size: 10px;
}

